<?xml version="1.0" ?>
<robot name="HumanoidTNK_FINAL" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- flattened from HumanoidTNK_FINAL.xacro; mass/inertia recomputed from STL (PLA + MG996R x8 + electronics) -->
  <material name="silver">
    <color rgba="0.700 0.700 0.700 1.000"/>
  </material>
<link name="base_link">
  <inertial>
    <origin xyz="-0.019373 0.048778 0.002373" rpy="0 0 0"/>
    <mass value="0.33595"/>
    <inertia ixx="7.198e-04" ixy="2.561e-04" ixz="1.246e-05" iyy="1.974e-04" iyz="-4.307e-05" izz="8.462e-04"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="LU1_1">
  <inertial>
    <origin xyz="0.028820 -0.044788 -0.000047" rpy="0 0 0"/>
    <mass value="0.09768"/>
    <inertia ixx="2.775e-05" ixy="8.750e-06" ixz="1.294e-08" iyy="3.719e-05" iyz="-8.502e-09" izz="4.494e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.02 -0.078 -0.0001" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/LU1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.02 -0.078 -0.0001" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/LU1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RU1_1">
  <inertial>
    <origin xyz="-0.028820 -0.044788 -0.000047" rpy="0 0 0"/>
    <mass value="0.09768"/>
    <inertia ixx="2.775e-05" ixy="-8.750e-06" ixz="-1.294e-08" iyy="3.719e-05" iyz="-8.502e-09" izz="4.494e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.05 -0.078 -0.0001" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/RU1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.05 -0.078 -0.0001" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/RU1_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RU2_1">
  <inertial>
    <origin xyz="0.006782 -0.000000 -0.057773" rpy="0 0 0"/>
    <mass value="0.09861"/>
    <inertia ixx="3.375e-05" ixy="-8.387e-09" ixz="8.150e-06" iyy="5.651e-05" iyz="1.504e-13" izz="2.954e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.08975 -0.0273 -5e-05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/RU2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.08975 -0.0273 -5e-05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/RU2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="LU2_1">
  <inertial>
    <origin xyz="-0.006782 -0.000000 -0.057773" rpy="0 0 0"/>
    <mass value="0.09861"/>
    <inertia ixx="3.375e-05" ixy="8.387e-09" ixz="-8.150e-06" iyy="5.651e-05" iyz="9.392e-14" izz="2.954e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.01975 -0.0273 -5e-05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/LU2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.01975 -0.0273 -5e-05" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/LU2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RU3_1">
  <inertial>
    <origin xyz="-0.006782 -0.000000 -0.057773" rpy="0 0 0"/>
    <mass value="0.09861"/>
    <inertia ixx="3.375e-05" ixy="-8.386e-09" ixz="-8.150e-06" iyy="5.651e-05" iyz="9.394e-14" izz="2.954e-05"/>
  </inertial>
  <visual>
    <origin xyz="0.07225 -0.0273 0.0644" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/RU3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.07225 -0.0273 0.0644" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/RU3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="LU3_1">
  <inertial>
    <origin xyz="0.006782 -0.000000 -0.057773" rpy="0 0 0"/>
    <mass value="0.09861"/>
    <inertia ixx="3.375e-05" ixy="8.386e-09" ixz="8.150e-06" iyy="5.651e-05" iyz="1.504e-13" izz="2.954e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.00225 -0.0273 0.0644" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/LU3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.00225 -0.0273 0.0644" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/LU3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="LU4_1">
  <inertial>
    <origin xyz="0.002500 0.004604 -0.024321" rpy="0 0 0"/>
    <mass value="0.01280"/>
    <inertia ixx="4.280e-06" ixy="-4.486e-13" ixz="-7.619e-12" iyy="2.972e-06" iyz="6.839e-07" izz="2.070e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.01975 -0.0273 0.12885" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/LU4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.01975 -0.0273 0.12885" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/LU4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RU4_1">
  <inertial>
    <origin xyz="-0.002500 0.004604 -0.024321" rpy="0 0 0"/>
    <mass value="0.01280"/>
    <inertia ixx="4.280e-06" ixy="-4.409e-13" ixz="-7.622e-12" iyy="2.972e-06" iyz="6.839e-07" izz="2.070e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.08975 -0.0273 0.12885" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/RU4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.08975 -0.0273 0.12885" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/RU4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="L_hip_roll" type="revolute">
  <origin xyz="-0.02 0.078 0.0001" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="LU1_1"/>
  <axis xyz="0.0 -1.0 -0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="1.0" velocity="6.0"/>
</joint>

<joint name="R_hip_roll" type="revolute">
  <origin xyz="-0.05 0.078 0.0001" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="RU1_1"/>
  <axis xyz="0.0 -1.0 -0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="1.0" velocity="6.0"/>
</joint>

<joint name="R_hip_pitch" type="revolute">
  <origin xyz="-0.03975 -0.0507 -5e-05" rpy="0 0 0"/>
  <parent link="RU1_1"/>
  <child link="RU2_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="1.0" velocity="6.0"/>
</joint>

<joint name="L_hip_pitch" type="revolute">
  <origin xyz="0.03975 -0.0507 -5e-05" rpy="0 0 0"/>
  <parent link="LU1_1"/>
  <child link="LU2_1"/>
  <axis xyz="1.0 0.0 -0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="1.0" velocity="6.0"/>
</joint>

<joint name="R_knee" type="revolute">
  <origin xyz="0.0175 0.0 -0.06445" rpy="0 0 0"/>
  <parent link="RU2_1"/>
  <child link="RU3_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="1.0" velocity="6.0"/>
</joint>

<joint name="L_knee" type="revolute">
  <origin xyz="-0.0175 0.0 -0.06445" rpy="0 0 0"/>
  <parent link="LU2_1"/>
  <child link="LU3_1"/>
  <axis xyz="1.0 0.0 -0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="1.0" velocity="6.0"/>
</joint>

<joint name="L_ankle_pitch" type="revolute">
  <origin xyz="0.0175 0.0 -0.06445" rpy="0 0 0"/>
  <parent link="LU3_1"/>
  <child link="LU4_1"/>
  <axis xyz="1.0 0.0 -0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="1.0" velocity="6.0"/>
</joint>

<joint name="R_ankle_pitch" type="revolute">
  <origin xyz="-0.0175 0.0 -0.06445" rpy="0 0 0"/>
  <parent link="RU3_1"/>
  <child link="RU4_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit upper="1.570796" lower="-1.570796" effort="1.0" velocity="6.0"/>
</joint>

</robot>
